html {
  font-size: 12px;
  text-size-adjust: none;
  font-weight: 500;
}

body {
  /*background-image: linear-gradient(#99fa99, #90e3cf); green blue*/
  /*background-image: linear-gradient(#80e068, #b8e95d); green yellow*/
  background-image: radial-gradient(circle, #b7d575 15%, #29764a 50%, #010812 100%);
  padding-bottom: 50px;
}

p, li, button, span {
  font-size: var(--body-size);
  font-family: var(--main-font);
}

p {
  margin: 0.5rem 1rem;
}

.leaf-underlay {
  position: fixed;
  inset: 0;
  background-image: url("../images/page-style/Leaf Background.png");/*, radial-gradient(circle at bottom, #b7d575 25%, #29764a 50%, #010812 100%);*/
  filter: opacity(0.1);
}

.main-content {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

@media (min-width: 725px) {
  html {
    font-size: 16px;
  }

  .main-content {
    margin-top: 200px;
    gap: 50px;
  }
}

.content-area {
  border-radius: 40px 40px;
  border: 3px solid rgb(193, 219, 152);
  overflow: hidden;
  background-color: rgba(var(--primary-section-color), var(--primary-transparency));
  backdrop-filter: blur(var(--primary-translucence));
  width: 95vw;
  max-width: 1200px;
  scroll-margin-top: 100px;
}

.content-area-title {
  font-weight: 700;
  font-size: var(--header-size);
  margin: 0.3125rem;
}

.info-divider {
  height: 3px;
  background-color: black;
  margin: 5px 10px;
}

.inline-logo, .inline-logo-backgrounded {
  width: 1.5625rem;
  height: 1.5625rem;
  margin: 0px 1px;
}

.inline-logo-backgrounded {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25%;
}

.centered-text {
  text-align: center;
}