@font-face {
  font-family: "Inclusive Sans";
  src: url("../fonts/InclusiveSans-VariableFont_wght.ttf");
}

html {
  font-size: 12px;
  text-size-adjust: none;
}

body {
  background: rgb(41, 118, 74);
  background: -moz-radial-gradient(circle, rgb(166, 194, 107) 15%, rgb(41, 118, 74) 50%, rgb(1, 8, 18) 100%);
  background: -webkit-radial-gradient(circle, rgb(166, 194, 107) 15%, rgb(41, 118, 74) 50%, rgb(1, 8, 18) 100%);
  background: radial-gradient(circle, rgb(166, 194, 107) 15%, rgb(41, 118, 74) 50%, rgb(1, 8, 18) 100%);
  padding-bottom: 50px;
  position: relative;
}

p, li, button, span {
  font-size: var(--body-size);
  font-family: var(--main-font);
  font-weight: 500;
  color: rgb(24, 37, 23);
}

p {
  margin: 0.5rem 1rem;
}

.leaf-underlay {
  position: fixed;
  z-index: -2;
  inset: 0;
  background-image: url("../images/page-style/Leaf Background.png");
  opacity: 0.1;
}

.main-content {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

@media (min-width: 725px) {
  html {
    font-size: 16px;
  }

  .main-content {
    margin-top: 200px;
    gap: 50px;
  }
}

.content-area {
  border-radius: 20px 40px;
  border: 0.1875rem solid rgb(193, 219, 152);
  overflow: hidden;
  background-color: rgba(var(--primary-section-color), var(--primary-transparency));
  backdrop-filter: blur(var(--primary-translucence));
  width: 95vw;
  max-width: 1200px;
  scroll-margin-top: 100px;
}

.content-area-title {
  font-weight: 700;
  font-size: var(--header-size);
  margin: 0.3125rem;
}

.info-divider {
  height: 3px;
  background-color: black;
  margin: 5px 10px;
}

.inline-logo, .inline-logo-backgrounded, .inline-logo-title {
  width: 1.5625rem;
  height: 1.5625rem;
  margin: 0px 1px;
}

.inline-logo-backgrounded {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25%;
}

.inline-logo-title {
  width: 2.375rem;
  height: 2.375rem;
}

.centered-text {
  text-align: center;
}

.sneaky {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  height: 12rem;
  z-index: -1; 
  margin-bottom: -8px;
  opacity: 0.25;
}