.project-highlight-area {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgba(var(--secondary-section-color), var(--secondary-transparency));
}

.project-highlight-container {
  max-width: 500px;
  padding: 20px;
}