.project-highlight-area {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--secondary-transparency);
  backdrop-filter: blur(var(--primary-translucence));
}

.project-highlight-container {
  max-width: 500px;
  padding: 20px;
}