.project-view {
  position: fixed;
  width: 95vw;
  max-width: 1200px;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -0%);
  backdrop-filter: blur(var(--secondary-translucence));
}

.close-project-view {
  width: 100%;
  height: 3.125rem;
  border: none;
  background-color: #082923;
  color: #dbffb1;
}

.close-project-view:active {
  background-color: #0C3D35;
}

@media (min-width: 1025px) {
  .close-project-view:hover {
    cursor: pointer;
    background-color: #0C3D35;
  }
  }

.tagline {
  margin-top: -0.3125rem;
  margin-bottom: 0.3125rem;
  display: block;
}

.info-holder {
  display: grid;
  grid-template-columns: 5fr 2fr;
}

.verbose-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(var(--secondary-section-color), var(--secondary-transparency));
  backdrop-filter: blur(var(--secondary-translucence));
  max-width: 100%;
  overflow: hidden;
}

.screenshot-area {
  position: relative;
  max-width: 100%;
}

.button-wrapper {
  position: absolute;
  width: 5rem;
  height: 5rem;
  top: 50%;
  transform: translate(0%, -50%);
  /*background-color: rgba(0, 0, 0, 0.8)*/
}

.screenshot-nav-button {
  border: none;
  width: 5rem;
  height: 5rem;
  padding: 0;
  border-radius: 35%;
  background-color: rgba(var(--primary-section-color), 0.9);
  background-image: url("../images/page-style/Leaf Button.png");
  background-size: cover;
  /*filter: invert(92%) sepia(7%) saturate(1394%) hue-rotate(33deg) brightness(101%) contrast(96%) opacity(0.9);
  filter: invert(10%) sepia(54%) saturate(679%) hue-rotate(120deg) brightness(91%) contrast(94%);*/
  color: white;
  transition-duration: var(--hover-transition-duration);
}

.screenshot-nav-button:active {
  scale: 1.1;
}

@media (min-width: 1025px) {
  .screenshot-nav-button:hover {
    cursor: pointer;
    scale: 1.1;
  }
}

.screenshots-container {
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  max-width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.screenshots-container::before,
.screenshots-container::after {
  content: "";
  flex: 0 0 50%;
}

.screenshot-scroll-padding {
  width: 17%;
  color: rgba(0, 0, 0, 0);
}

.screenshots-container::-webkit-scrollbar {
  display: none;
}

.full-view-thumbnail {
  display: inline-block;
  width: 25rem;
  border-radius: 20px;
  margin: 20px 20px 10px;
}

.specific-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(var(--primary-section-color), var(--primary-transparency));
  backdrop-filter: blur(var(--secondary-translucence));
}

.project-description {
  margin: 0.625rem 1.25rem 1.25rem;
}

.notables {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 10px;
}

.extra-info-container {
  display: flex;
  flex-direction: column;
}

.extra-info-container span {
  font-size: var(--detail-size);
}

.jam-info {
  margin: 0.625rem;
}

.time-link-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.625rem;
  margin: 0.625rem;
}

.game-link {
  display: flex;
  align-items: center;
}

.game-link img{
  height: 2.625rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 25%;
  transition: var(--hover-transition-duration);
}

.game-link img:active {
  scale: 1.1;
}

@media (min-width: 1025px) {
  .game-link img:hover {
    scale: 1.1;
  }
}

.project-view-section-buttons {
  display: flex;
  justify-content: center;
}

.pv-section-button, .pv-section-button-selected {
  display: none;
  border: 0.1875rem solid rgb(169, 192, 133);
  border-radius: 15px 15px 0px 0px;
  margin-right: -3px;
  background-color: rgba(194, 224, 155, 0.5);
  padding: 0.66rem 0.83rem;
}

.pv-section-button-selected {
  border-bottom: 0px;
  background-color: rgba(var(--secondary-section-color), var(--secondary-transparency));
  backdrop-filter: blur(var(--secondary-translucence));
}

@media (max-width: 725px) {
  .project-view {
    top: 12%;
  }

  #js-project-view-title {
    margin-top: 0.66rem;
  }

  .project-view-section-buttons {
    margin-top: 0.5rem;
  }

  .info-holder {
    display: flex;
    flex-direction: column;
  }

  .full-view-thumbnail {
    margin: 1.25rem;
  }

  .pv-section-button, .pv-section-button-selected {
    display: inline;
  }

  .project-description {
    display: none;
    margin: 1.25rem;
  }

  .specific-info {
    background-color: rgba(var(--secondary-section-color), var(--secondary-transparency));
    display: none;
  }

  .notables {
    margin: 1.25rem 1.25rem 0.625rem;
  }

  .extra-info-container {
    padding: 0.625rem;
  }

  .extra-info {
    margin: 0.625rem 1.25rem;
  }

  .close-project-view {
    height: 4rem;
  }
}